<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ dbComic._Comic.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  
  <ion-card class="bg_image">
    <img src="https://image.tmdb.org/t/p/w500/{{ dbComic._Comic.backdrop_path }}"/>
  </ion-card>
  <ion-grid class="contentComic">
    <ion-row class="imageandtextOneComic">
      <ion-col col-4>
        <ion-card class="miniComicIMG">
          <img src="https://image.tmdb.org/t/p/w500/{{ dbComic._Comic.poster_path }}"/>
        </ion-card>      
      </ion-col>
      <ion-col col-8 >
          <h2 class="comicTitle" >{{ dbComic._Comic.title }}</h2>
          <small><b>Título Original: </b>{{ dbComic._Comic.original_title }}</small>
      </ion-col>
    </ion-row>
    <ion-row class="dataComic">
        <ion-col col-4 text-center>Puntuación:<br><ion-badge>{{ dbComic._Comic.vote_average }}/10</ion-badge></ion-col>
        <ion-col col-4 text-center>Lanzamiento:<br><ion-badge>{{ dbComic._Comic.release_date |  date:'dd/MM/yyyy' }}</ion-badge></ion-col>
        <ion-col col-4 text-center>Duración:<br><ion-badge>{{ dbComic._Comic.runtime }} min.</ion-badge></ion-col>
        <ion-col col-12 text-left margin-left>Categorias:<br>
          <ion-badge *ngFor="let genre of dbComic._Comic.genres">{{ genre.name }}</ion-badge>
        </ion-col>
        <ion-col col-12>
            <h3>Resumen</h3>
            <p padding text-justify>{{ dbComic._Comic.overview }}</p>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
          <h3>Productoras</h3>
        <ion-list>
          <ion-item *ngFor="let comProd of dbComic._Comic.production_companies">
            <!-- <ion-thumbnail item-start>
              <img src="img/thumbnail-totoro.png">
            </ion-thumbnail> -->
            <h2>{{ comProd.name }}</h2>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>    
    <ion-row class="recomementaionMovies">
        <ion-col col-12>
          <h3>Recomendaciones</h3>
        <ion-slides class="galleryRecommendation " loop="true" slidesPerView="3">
          <ion-slide *ngFor="let movie of dbComic.listRecommendation">
            <img class="recomMov" src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" (click)="pushPage(movie)" imageViewer/>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>